@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Rubik', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}


a {
  color: #000;
}

.yotta-tight {
  font-size: 3.5832rem;
  line-height: 3.5832rem;
}

.hover-line:hover {
  border-bottom: #000 solid 4px;
}

.hover-box:hover {
  border: #000 solid 4px;
}

.med {
  font-weight: 500;
}

.social-icons {
  width: 5%;
  display: inline-block;
  padding: 0.75em;
}

#contact-icon {
  width: 100%;
}
