@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: 'Rubik Mono One', sans-serif;
  font-family: 'Rubik', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

/** EXTRA TYPE FORMATING **/

p {
  font-weight: 300;
}

.strong, strong {
  font-weight: 500;
}

.med {
  font-weight: 400;
}

.blue {
  color: #9dedf2;
}

.pink {
  color: #ffafac;
}

.yellow {
  color: #ffcb00;
}

.light {
  color: #b3b3b3;
}

.mono {
  font-family: 'Rubik Mono One', sans-serif;
}

h3 {
  color: #ffcb00;
}

h4 {
  color: #9dedf2;
}


/** LINKS **/

a {
  color: #000;
}

.line {
  border-bottom: #fff solid 4px;
}

.line:hover {
  border-bottom: #000 solid 4px;
}

.pink-box {
  border: #000 solid 4px;
  background: #ffafac;
  padding: 0.25em 0.5em;
  display: inline-block;
}

.pink-box:hover {
  border: #000 solid 4px;
  background: none;
}

.blue-box {
  color: #000;
  border: #000 solid 4px;
  background: #9dedf2;
  padding: 0.25em 0.5em;
  display: inline-block;
}

.blue-box:hover {
  color: #000;
  border: #000 solid 4px;
  background: none;
}


/** SUB NAVs **/

.nav-sub {
  border-bottom: #000 solid 10px;
}

.line-top {
  border-top: #fff solid 4px;
}

.line-top:hover {
  border-top: #ffafac solid 4px;
}

.border-top {
  border-top: #000 solid 10px;
}

