<div class="pad-t rule-t">
  <div class="push-half">
    <p class="push-0">like beer? like coffee? me too!</p>
    <p class="push-0">call or email me anytime.</p>
  </div>
  <div class="push-half">
    <div class="contact-info ib push-quarter">
      <a class="pink-box" href="mailto:hello@ashtastic.ca">hello@ashtastic.ca</a>
    </div>
    <div class="contact-info ib">
      <a class="pink-box" href="tel:+16132623085">+1 613 262 3085</a>
    </div>
  </div>
</div>
<div>
  <p>© Ashley Murray // Ash Tastic | 2016</p>
</div>
