<div class="grid">
  <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 push x-text-left">
    <a class="contact-icon mono text-right" href="{{site.baseurl}}/">Ash Tastic Design</a>
  </div>
  <nav class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 text-right">
    <ul class="list-group-inline">
      <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %} unit-xs-1 unit-s-1 m-1 l-1 xl-1 line-b strong text-lower">Info</a></li>
      <li class="gutter-2"><a href="{{site.baseurl}}/work/" class="{% if page.url contains 'work' %}current{% endif %} unit unit-xs-1 unit-s-1 m-1 l-1 xl-1 line-b strong text-lower">Work</a></li>
      <li><a href="{{site.baseurl}}/resume/" class="{% if page.url contains 'resume' %}current{% endif %} unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-b strong text-lower">Resume</a></li>
    </ul>
  </nav>
</div>
