---
layout: resume
---

<div id="experience">
  <div class="grid">
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter">
      <ul class="list-group">
        {% for resume in site.data.experience.column-a %}
          <li class="push-2">
            <h3 class="push-half giga text-lower">{{resume.position}}</h3>
              <h4 class="push-half kilo">{{resume.date}}</h4>
              <p>{{resume.meta}}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="unit xs-1 s-1 m-1-2 l-1-2 xl-1-2 gutter">
      <ul class="list-group">
        {% for resume in site.data.experience.column-b %}
          <li class="push-2">
            <h3 class="push-half giga text-lower">{{resume.position}}</h3>
              <h4 class="push-half kilo">{{resume.date}}</h4>
              <p>{{resume.meta}}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
