@media only screen and (min-width: 38em) {

  html {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  .x-text-left {
    text-align: left;
  }

  .info {
    padding-top: 0;
  }

  .x-text-right {
    text-align: right;
  }

  .x-gutter-2 {
    padding-left: 1.8000rem;
    padding-right: 1.8000rem;;
  }

  .x-right {
    float: right;
  }

}

@media only screen and (min-width: 60em) {

  html {
    margin-left: 6rem;
    margin-right: 6rem;
  }

  .header {
    margin: 0;
  }

  .x-gutter-2 {
    padding-left: 3.0000rem;
    padding-right: 3.0000rem;
  }

}

@media only screen and (min-width: 90em) {

}
