<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ash Tastic Portfolio</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:300,400,500,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>

  <header class="gutter pad-t">
    {% if page.url == '/' %}{% include nav.html %}{% endif %}
    {% if page.url == '/work/' %}{% include nav.html %}{% endif %}
    {% if page.url == '/resume/' %}{% include nav-sub.html %}{% endif %}
  </header>

  <main class="gutter">
    {{content}}
  </main>

  <footer class="gutter milli pad-t-2">
    {% if page.url == '/work/' %}{% include footer.html %}{% endif %}
    {% if page.url == '/resume/' %}{% include footer.html %}{% endif %}
  </footer>

</body>
</html>
