<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ashley Murray // Ash Tastic • Graphic Design Portfolio — Motion, UX, UI, Typography • Ottawa, Canada</title>
  <meta name="description" content="Ashley Murray – a graphic designer with an awesome passion for motion, ux/ui design and typography.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="The Rock" />
  <meta property="og:type" content="video.movie" />
  <meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
  <meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nytimesbits" />
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:300,400,500,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>

  <header class="gutter push pad-t">
    {% if page.url == '/' %}{% include nav.html %}{% endif %}
    {% if page.url == '/work/' %}{% include nav.html %}{% endif %}
    {% if page.url == '/resume/' %}{% include nav-hidden.html %}{% endif %}
    {% if page.url == '/kinetic/' %}{% include nav-hidden.html %}{% endif %}
    {% if page.url == '/brew-guide/' %}{% include nav-hidden.html %}{% endif %}
    {% if page.url == '/brainteasers/' %}{% include nav-hidden.html %}{% endif %}
  </header>

  <main class="push-2">
    {{content}}
  </main>

  <footer class="gutter milli">
    {% if page.url == '/work/' %}{% include footer.html %}{% endif %}
    {% if page.url == '/resume/' %}{% include footer.html %}{% endif %}
    {% if page.url == '/kinetic/' %}{% include footer.html %}{% endif %}
    {% if page.url == '/brew-guide/' %}{% include footer.html %}{% endif %}
    {% if page.url == '/brainteasers/' %}{% include footer.html %}{% endif %}
  </footer>

</body>
</html>
