<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Ashley Murray // Ash Tastic • Graphic Design Portfolio — Motion, UX, UI • Ottawa, Canada</title>
  <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:300,400,500,700" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <meta name="description" content="Ashley Murray – a graphic designer with an awesome passion for motion, ux/ui design and typography.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Ash Tastic Design Portfolio" />
  <meta property="og:type" content="portfolio" />
  <meta property="og:url" content="http://ashtastic.ca" />
  <meta property="og:image" content="{{site.baseurl}}/images/favicon.ico" />
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico">
</head>
<body>

{{content}}

</body>
</html>
