---
layout: default-hidden-resume
---

<div class="gutter push">
  <nav class="rule-b">
    <ul class="nav push-half list-group-inline">
      <li><a class="{% if page.url == '/resume/' %}current-sub{% endif %} unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="{{site.baseurl}}/resume/">Experience</a></li>
      <li class="gutter-2"><a class="{% if page.url == '/resume/education/' %}current-sub{% endif %} unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="{{site.baseurl}}/resume/education/">Education</a></li>
      <li><a class="{% if page.url contains '/resume/skills/' %}current-sub{% endif %} unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="{{site.baseurl}}/resume/skills/">Skills</a></li>
    </ul>
  </nav>
</div>

{{content}}
