---
layout: default
---

<div class="gutter">
  <nav class="rule-b">
    <ul class="nav push-half list-group-inline">
      <li><a class="unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="#experience">Experience</a></li>
      <li class="gutter-2"><a class="unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="#education">Education</a></li>
      <li><a class="unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 line-t strong text-lower" href="#skills">Skills</a></li>
    </ul>
  </nav>
</div>

{{content}}
